.rule{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.mask{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: modalShowAnima 0.3s forwards;
}
.maskHide{
    animation: modalHideAnima 0.3s forwards;

    composes:mask;
}
.ruleContent{
    position: absolute;
    top: 100rpx;
    left: 50%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin-left: -340rpx;
    width: 680rpx;
    height: 1000rpx;
    border-radius: 20rpx;
    background-color: #FFF3BD;
    animation: modalBoxShowAnima 0.3s forwards;
}
.ruleContentHide{
    animation: modalBoxHideAnima 0.3s forwards;

    composes:ruleContent;
}
.ruleImage{
    margin: 0 auto;
    margin-top: 40rpx;
    margin-bottom: 50rpx;
    width: 568rpx;
    height: 2724rpx;
    background-image: url(../../../../images/index/ruleContent2.png);
    background-size: 100% 100%;
}
.none{
    display: none;
}
@keyframes modalShowAnima{
    from { opacity: 0; }
    to { opacity: 1;}
}
@keyframes modalHideAnima{
    from { opacity: 1; }
    to { opacity: 0;}
}
@keyframes modalBoxShowAnima{
    from { transform: scale(0,0); }
    to { transform: scale(1,1);}
}
@keyframes modalBoxHideAnima{
    from { transform: scale(1,1); }
    to { transform: scale(0,0);}
}
