.app{
    display: flex;
    flex-direction: column;
}
.footer1{
    margin-top: 80rpx;
    color: #BBFFE9;
    text-align: center;
    font-size: 24rpx;
    font-family: PingFangSC-Medium;
}
.footer2{
    margin-bottom: 40rpx;
    color: #BBFFE9;
    text-align: center;
    font-size: 24rpx;
    font-family: PingFangSC-Medium;
}